<div class='row'>
  <div class='small-3 columns' id='sidebar'>
    <div class='row collapse'>
      <div class='small-4 columns'>
        <span class='prefix radius'>Team</span>
      </div>
      <div class='small-8 columns'>
        {{view Ember.TextField valueBinding="newEntryName" action="addEntry"}}
      </div>
    </div>
    <div class="section-container accordion" data-section="accordion">
      {{#each team in controller}}
      <section class="section">
        <div class='title'>
          <div class='row collapse'>
            <div class='small-9 columns'>
              {{#linkTo 'team' team href='#'}}{{team.name}}{{/linkTo}}
            </div>
            <div class='small-3 columns'>
              <span class='radius alert label counter'>{{team.projects.length}}</span>
            </div>
          </div>
        </div>
        <div class='content'>
          <ul class='side-nav'>
            {{#each project in team.projects}}
            <li>
              {{#linkTo 'project' project tagName='a' href='#'}}{{project.name}}{{/linkTo}}
            </li>
            {{else}}
            <span class='radius alert label'>
              No project found.
            </span>
          </p>
          {{/each}}
          {{view Mergecap.NewProjectView}}
        </ul>
      </div>
    </section>
    {{/each}}
  </div>
</div>
  <div class='small-9 columns' id='content'>
    {{outlet}}
  </div>
</div>
