<div class='row'>
  {{#each team in controller}}
    <button {{action deleteItem team}} class='small right'>X</button>
    <h3>{{ team.name }}</h3>
    {{ view Ember.TextField valueBinding='newProjectName' }}
    <button {{ action 'addProjectEntry' team }}>Add</button>
    {{ render 'projects' team.projects }}
  {{else}}
    <div class='row'>
      <div class='panel'>
        <label>Add your team</label>
          {{view Ember.TextField valueBinding="newEntryName" action="addEntry"}}
          {{#each error in controller.errors}}
            <small class="error">Sorry user not found, try again...</small>
          {{/each}}
      </div>
    </div>
  {{/each}}
</div>
