!!! 5
/ paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
/[if lt IE 7 ] <html class=\"ie6\" lang=\"en\">
/[if IE 7 ]    <html class=\"ie7\" lang=\"en\">
/[if IE 8 ]    <html class=\"ie8\" lang=\"en\">
/[if IE 9 ]    <html class=\"ie9\" lang=\"en\">
/[if (gt IE 9)|!(IE)] <!--> <html lang=\"en\">

%head
  %meta{ :charset => "utf-8" }

  -# Uncomment to make IE8 render like IE7
  -# meta http-equiv="X-UA-Compatible" content="IE=7"

    -# Set the viewport width to device width for mobile
  %meta{ :name => "viewport", :content => "width=device-width, initial-scale=1.0" }

  %title= content_for?(:title) ? yield(:title) : "Mergecap"

  = stylesheet_link_tag "application"
  = javascript_include_tag "http://mergecap.com:9292/faye.js"
  = javascript_include_tag "vendor/custom.modernizr"
  = csrf_meta_tag

%body
  - if current_user
    %nav.top-bar
      %ul.title-area
        %li.name
          %h1
            = link_to 'Mergecap', root_url(anchor: 'teams')
        %li.toggle-topbar.menu-icon
          %a{:href => "#"}
            %span Menu
      %section.top-bar-section
        / Left Nav Section
        %ul.right
          %li.divider
          %li.active
            %a{:href => signout_path} Sign out (#{current_user.name})
          %li.divider
          %li
            %span.left= image_tag current_user.member.avatar, width: '38px' if current_user.member

    = yield
  - else
    .panel
      .row
        .small-6.large-6.columns
          %h3 Hey you developers!
          %p
            Welcome to the mergecap.com app. Use this tool freely to manage your merges to master with your team. Make sure to connect to a big screen, just because it's cool.
          %p
            There is one gotcha, the app is heavily under development so bare with us.
            By the way the code used for this app is opensource! get or see it at
            = link_to 'the source @ github', 'https://github.com/rachid/mergecap'
        .small-6.large-6.columns
          .row
            .small-5.small-centered.columns
              = image_tag '/assets/github-logo.png', width: '300px'
              = link_to 'Sign in using Github', '/auth/github', { class: 'button round' }

= javascript_include_tag 'application'
